http://cib-prodrv01.usa.wachovia.net:27580/
http://cib-prodrv02.usa.wachovia.net:27580/
http://cib-drrv01.usa.wachovia.net:27580/
http://cib-drrv02.usa.wachovia.net:27580/
http://cib-uatrv01.usa.wachovia.net:27580/
http://cib-uatrv02.usa.wachovia.net:27580/
http://cib-devrv01.usa.wachovia.net:27580/
http://cib-devrv02.usa.wachovia.net:27580/
http://cib-prv1wac01.usa.wachovia.net:27580/
http://cib-prv1wac02.usa.wachovia.net:27580/
http://cib-urv1wac01.usa.wachovia.net:27580/
http://cib-urv1wac02.usa.wachovia.net:27580/
http://cib-rrvduc01.usa.wachovia.net:27580/
http://cib-rrvmccr01.usa.wachovia.net:27580/
http://cib-prvsbld01.usa.wachovia.net:27580/
http://cib-prvsbld02.usa.wachovia.net:27580/
http://cib-urvsbld01.usa.wachovia.net:27580/
http://cib-urvsbld02.usa.wachovia.net:27580/
http://cib-rrvplz01.usa.wachovia.net:27580/
http://cib-prvsbld03.usa.wachovia.net:27580/
http://cib-prvsbld04.usa.wachovia.net:27580/
http://cib-urvsbld03.usa.wachovia.net:27580/
http://cib-urvsbld04.usa.wachovia.net:27580/
http://cib-rrvnboc01.usa.wachovia.net:27580/
http://cib-rrvnypp01.usa.wachovia.net:27580/
